.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.my-container {
  max-width: 300px !important;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
}
.submit_button_1 {
  margin-top: 10px;
}
.header_1 {
  padding: 10px;
}
.brand-logo {
  margin-left: 10px;
  padding: 10px;
}
.giphy {
  width: 100%;
  margin-top: 24px;
  position: relative;
}
.app-name {
  position: relative;
}
